<nav class="navbar" xmlns="http://www.w3.org/1999/html">
  <ul id="myNavBar" class="navbar navbar-light" style="background-color: #41af3e;">

    <div class="navbar-brand">
      <a class="nav-link" routerLink="" >Home page</a>
    </div>

    <div class="navbar-brand">
      <a class="nav-link" routerLink="/listanimals" >Show All Animals</a>
    </div>

    <div class="navbar-brand">
      <a class="nav-link" routerLink="/listorgans" >Show All Organs</a>
    </div>

    <div class="navbar-brand">
      <a class="nav-link" routerLink="/newanimal/add" >Add New Animal</a>
    </div>

    <img id="image" routerLink="" src="https://img.icons8.com/cotton/64/000000/earth-planet--v1.png">

  </ul>

</nav>

