.navbar-brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-right: 100px;
  padding: 33px;
}
nav{
  height: 50px;
}

.nav-link{
  color:white;
}

#image{
  position: absolute; top:2%; right:3%;
}
