<div>
  <app-header></app-header>
</div>
<br>
<p>List organs</p>

<div style="margin-left: 50px">
<label for="site-search">Search an organ:</label>
<input type="search" id="site-search" name="q"
       aria-label="Search through site content" >
<button id="loupe" type="submit" class="icone" ></button>

  <div style="height: 20px"></div>

<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Vital</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let organ of organs; let i = index">
    <td>{{organ.name}}</td>
    <td>{{organ.description}}</td>
    <td>{{organ.vital}}</td>
    <a routerLink = "/oneorgan/{{organ.id}}/{{organ.name}}" >More details</a>
    <td>
      <img id="rip" src="https://img.icons8.com/cute-clipart/64/000000/headstone.png" type="button " (click)="delete(organ.id)">
    </td>
  </tr>



  </tbody>
</table>
</div>
