.listorgans{
  color: forestgreen;
  text-align: center;
  font-size: 60px;
}
p{
  text-align: center;
  color: forestgreen;
  font-size: 60px;
}
#loupe{
  background-image: url("https://img.icons8.com/windows/32/000000/google-web-search.png");
  background-repeat: no-repeat;width: 30px;height: 30px;padding: 0;
}

#image{
  position: absolute; top:2%; right:1%;
}
table{
  width: 50%;
  border-collapse: collapse;
}
th {
  font-family:monospace;
  border:1px dotted #6495ed;
  padding:5px;
  background-color:lightskyblue;
  width:25%;
  text-transform: capitalize;
}
td{
  text-transform: capitalize;
}
