#image{
  position: absolute; top:2%; right:1%;
}

h2{
  margin-top: 50px;
  font-style: italic;
  text-align: center;
}

section{
  font-size: medium;
  text-align: center;
}
.inputFormUpdate{
  display: flex;
  justify-content: center;
}



