<div style="display: block">
  <app-header></app-header>
  <p class="listanimal">List animals</p>
</div>

<div style="margin-left: 50px">
  <label for="site-search">Search an animal:</label>
  <input type="search" id="site-search" name="q"
         aria-label="Search through site content">
  <button id="loupe" type="submit" class="icone"></button>

  <ul class="list-group ">

  </ul>

  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th scope="col">Animal</th>
      <th scope="col">Environment</th>
      <th scope="col">Groups</th>
      <th scope="col">Organs</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let animal of animals">
      <td>{{animal.name}}</td>
      <td>{{animal.environment}}</td>
      <td>{{animal.category}}</td>
      <td><a routerLink="/single_animal/{{animal.id}}/{{animal.name}}">Show more</a></td>
      <td>
      <img id="rip" src="https://img.icons8.com/cute-clipart/64/000000/headstone.png" type="button " (click)="delete(animal.id)">
      </td>
    </tr>

    </tbody>
  </table>
</div>
