

  <div>
    <p class="listanimal">List animals</p>
    <div>
  </div>
  <img  id="image" routerLink="" src="https://img.icons8.com/cotton/64/000000/earth-planet--v1.png"><br><br><br>
  </div>

<div style="margin-left: 50px">
  <label for="site-search">Search an animal:</label>
  <input type="search" id="site-search" name="q"
         aria-label="Search through site content" >
  <button id="loupe" type="submit" class="icone" ></button>

  <ul class="list-group ">

  </ul>

  <router-outlet></router-outlet>
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th scope="col">Animal</th>
      <th scope="col">Environment</th>
      <th scope="col">Groups</th>
      <th scope="col">Organs</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let animal of animals">
      <td>{{animal.name}}</td>
      <td>{{animal.environment}}</td>
      <td>{{animal.category}}</td>
      <a routerLink="/organs/{{animal.name}}">Show more</a>
    </tr>

    </tbody>
  </table>
</div>
