<br>
<br>
<h1>EncyclopediAnimal</h1>
<br>
<br>
<br>
<p class="exp"> Find the characteristics of any animal and if you do not find it, add it !</p>
<p class="exp">Let's develop together this encyclopedia.</p>
<br>
<br>
<br>
<div id="buttoncenter">
  <button class="saa"  routerLink="/animals"> Show all animals</button>

  <button class="sao" routerLink="/organs"> Show all organs</button>

<br>
<br>
<br>
<br>

<button class="aa" routerLink="/animal/add"> Add animals</button>
</div>
<router-outlet></router-outlet>
