
h1{
  color: forestgreen;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-size: 80px;
  margin-top: 30px;
}
.exp{
  color: forestgreen;
  text-align: center;
  font-size: 25px;
}
body{
  background-color: #FFE599;
}

.saa{
  background-color: forestgreen;
  font-size: 35px;
  text-align: center;
  display: inline-block;
  width: 30%;
  color: white;
  margin-left: 16%;
}
.sao{
  background-color: orange;
  font-size: 35px;
  text-align: center;
  display: inline-block;
  width: 30%;
  margin: 15px 5%;
  color: white;
}

.aa{
  background-color: blue;
  font-size: 35px;
  text-align: center;
  display: block;
  width: 30%;
  color: white;
  margin-left: 33%;

}

