
      <div>
           <h2 id="title">Add animal</h2>
      </div>
    <img id="image" routerLink="" src="https://img.icons8.com/cotton/64/000000/earth-planet--v1.png"><br><br><br>

<!--      <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">-->
<!--      <div>-->
<form  #ngForm="ngForm">
  <div>


        <div>
          <input type="file" name="profile" (change)="uploadFile($event)" />
        </div>


       <p>


      <label> Name :
        <input style="border-color: #6AA84F" type="text" [(ngModel)]="animals.name"  [ngModelOptions]="{standalone: true}"  onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>

      </label>
    </p>
    <p>
      <label> Environment :
        <input style="border-color: #6AA84F" type="text" [(ngModel)]="animals.environment" [ngModelOptions]="{standalone: true}" onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>

      </label>
    </p>
    <p>
      <label> Group :
        <input  style="border-color: #6AA84F" type="text" [(ngModel)]="animals.category" [ngModelOptions]="{standalone: true}"  onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>

      </label>
    </p>

      <label for="nbOrgans">Organs :</label>
        <select id="nbOrgans" type="number" [(ngModel)]="nbOrgans" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let nbOrg of ['Select...',1,2,3,4,5,6,7,8,9] index as i" [ngValue]="i">{{i}}</option>
        </select>

        <div *ngFor="let item of getNbOrgans() index as i">
        <p id="trait">____________________________________________________________________</p>

        <h5 id="h5">Organ n°{{1+i}}</h5>

        <label> Name :
        <input style="border-color: #6AA84F" type="text" onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);" />


          <label>Id: </label>

        </label><br>

        <label> Vitale :
        <input style="border-color: #6AA84F" type="text" onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"/>
        </label>

        <label > Content :
        <textarea type="text" id="content" onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);" ></textarea>
        </label>


        </div>

  </div>
        <button class="btn" class="btn btn-success" type=button (click)="submitForm()">Add animal</button>

      </form>





