.addanimal {
  color: forestgreen;
  text-align: center;
  font-size: 60px;
}

#image{
  position: absolute; top:2%; right:1%;
}

label {
  display: inline-block;
  text-align: right;
  width: 22em;
}​

#trait{
  text-align: center;
  font-weight: bold;
}

#h5{
  text-decoration: underline;
}
